body {
    margin-top: 100px;
}

.product-image {
    background: whitesmoke;
    height: 225px;
    margin-bottom: 20px;
}

.product {
    margin-bottom: 30px;
}

.product button {
    margin-top: 10px;
}

.disabled {
    opacity: 0.5;
}

[disabled] {
    opacity: 0.65;
    background: whitesmoke;
    border-color: #bbb;
}
[disabled]:hover {
    border-color: #bbb;
}

.product-name {
    font-weight: bold;
}

.product-cart {
    position: fixed;
    right: 30px;
    top: 100px;
    max-height: calc(100vh - 160px);
    overflow: auto;
    line-height: 1.4;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    border: 1px solid #eee;
    padding: 10px 30px 15px 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.quantity-number {
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px !important;
}
.add-to-cart-button {
    width: 70%;
    box-sizing: border-box;
    padding: 0;
    display: inline-block;
    border-radius: 0 5px 5px 0 !important;
}

.notification {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #1abc9c;
    z-index: 10;
    color: #fff;
    text-align: center;
    height: 65px;
    line-height: 63px;
    font-weight: bold;
    display: none;
}

.checkout-button {
    width: 100%;
}

.loading-image {
    width: 80px;
    height: 60px;
    display: block;
    margin: 0 auto;
}

.cart-empty-state {
    display: block;
    margin: 20px auto 30px auto;
    width: 50%;
}

.cart-close {
    position: absolute;
    right: 30px;
    font-size: 200%;
    top: 10px;
    cursor: pointer;
    color: #aaa;
}
.cart-close:hover {
    color: #555;
}

.hidden {
    display: none;
}

#masthead {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #eee;
    z-index: 4;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    line-height: 63px;
}
#masthead .link {
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
}
#masthead .link:not(:last-child) {
    margin-right: 25px;
}

.right {
    text-align: right;
}

.link.active {
    color: #555;
}
